@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: 255, 255, 255;
  --background-secondary: 240, 240, 240;
  --background-tertiary: 221, 221, 221;
  --text-primary: 0, 0, 0;
  --text-secondary: 51, 51, 51;
  --text-tertiary: 136, 136, 136;
}

.dark {
  --background-primary: 18, 18, 18;
  --background-secondary: 34, 34, 34;
  --background-tertiary: 50, 50, 50;
  --text-primary: 255, 255, 255;
  --text-secondary: 204, 204, 204;
  --text-tertiary: 153, 153, 153;
}

html {
  background-color: rgb(var(--background-primary));
}
